.slider {
   position: absolute;
  
  left: 0;
  width: 200%;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Dancing Script';
 /* font-family: 'Noto+Serif'; */
  font-size: 17px;
}

.slide {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


.navio {
  opacity: ;
}

.ima{
  top: -20px;
}

.paddin img {
  width: 100%;
}

#fixo {
  background: url(../img/4-min.jpg) no-repeat center center fixed;
  display: table;
  height: 60%;
  position: relative;
  width: 100%;
  background-size: cover;
  
}

.prodotti {
  background: #f5f5f0;
 
 
}
#fixa {
  background: url(../img/4-min.jpg) no-repeat center center fixed;
  display: table;
  height: 60%;
  position: relative;
  width: 100%;
  background-size: cover;
  
}