.slider {
   position: absolute;
  
  left: 0;
  width: 200%;
  height: 100vh;
  overflow: hidden;
}





.navbar {
  font-family: 'Dancing Script';
  
}



.navio {
  
  opacity: 0,5;
}

.navio:hover {
  color: #fff;
  text-decoration: none;
}

.ima{
  top: -20px;
}

.paddin img {
  width: 100%;
}

#fixo {
  background: url(../img/4-min.jpg) no-repeat center center fixed;
  display: table;
  height: 60%;
  position: relative;
  width: 100%;
  background-size: cover;
  
}

.prodotti {
  background: #f5f5f0;
 
 
}
#fixa {
  background: url(../img/16-min.jpg) no-repeat center center fixed;
  display: table;
  height: 60%;
  position: relative;
  width: 100%;
  background-size: cover;
  
}
#fixi {
  background: url(../img/18-min.jpg) no-repeat center center fixed;
  display: table;
  height: 60%;
  position: relative;
  width: 100%;
  background-size: cover;
  
}

footer {
  width: 100%;
  background-color: #d9d9d9;
  padding: 5% 5% 10% 5%;
  color: #fff;
}

.fofo {
  color: black;
}

.fa {
  padding: 15px;
  font-size: 100px; 
}

.fa:hover {
  color: #fff;
  text-decoration: none;
}

.icon {
  max-width: 300px;
}

@media (max-width: 768px) {
  .landing-text h1 {
    font-size: 300%;
  }
}