.slider {
   position: absolute;
  
  left: 0;
  width: 200%;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Dancing Script';
 /* font-family: 'Noto+Serif'; */
  font-size: 17px;
}

.slide {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.navbar-fixed {
  opacity: 0.5;
}

.navio {
  opacity: 0.5;
}